<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Views/Public/home-page.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="playground_assets/chat.ico">
    <title>The Literary Critic - Home</title>
</head>
<body>
  <div>
    <div class="home-page-home-page">
        <div class="home-page-navigation">
          <span class="home-page-text"><span>The Literary Critic</span></span>
          <img
            src="/playground_assets/rectangle06-5md-200h.png"
            alt="Rectangle06"
            class="home-page-rectangle"
          />
          <button class="button">HOME</button>
          <button class="button">SEE REVIEWS</button>
          <button class="button">ADD REVIEW</button>
          <button class="button">CONTACT</button>
          <button class="button">SETTINGS</button>
        </div>
      <div class="home-page-post">
        <div class="home-page-pos-copy2">
          
          
          <div class="home-page-tag">
            <span class="home-page-text02"><span>Fiction</span></span>
          </div>
          <span class="home-page-text04">
            <span>Arbaz Ameer | 2 day ago</span>
          </span>
          <span class="home-page-text06">
            <span>
              <span>The Great</span>
              <br />
              <span>Gatsby</span>
            </span>
          </span>
          <img
            src="/user/playground_assets/download.jpeg"
            alt="download16"
            class="home-page-download"
          />
        </div>
      </div>
      <div class="home-page-sepatation-copy2">
        <div class="home-page-group10">
          <span class="home-page-text11"><span>Popular Reviews</span></span>
        </div>
        <div class="home-page-group1-copy">
          <span class="home-page-text13"><span>View All</span></span>
        </div>
      </div>
      <span class="home-page-text15">4</span>
      <img
        src="/Views/Public/playground_assets/book-dried-flowers-aesthetic-w0kdeb9l1oknqepn.jpg"
        alt="bookdriedflowersaestheticw0kdeb9l1oknqepn15"
        class="home-page-bookdriedflowersaestheticw0kdeb9l1oknqepn"
      />
    </div>
  </div>
</div>
</body>
</html>